

{% block title %}{% endblock %}

{% block body %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    
    
    

   

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

  
<script src="https://kit.fontawesome.com/783b858c89.js" crossorigin="anonymous"></script>
<div class="sex">
  <div class="card">
    <div class="content">
      <h2>Get Started!</h2>
      <div class="user">
        <label for="inputEmail">Email</label><br><br>
    <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <i class="fas fa-user"></i>
      </div><br>
      <div class="pass">
        <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required><br>
        <i class="fas fa-lock"></i>
         <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
      </div>
      <div class="else">
        <input id="remember" type="checkbox">
        <label for="remember">Remember me</label>
        <span>Forget password</span>
      </div>
      <input type="submit" value="Login">
       <a href=""><input type="submit" value="S'inscrir"></a>
    </div>
  </div>
</div>
</form>

  <style>
  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.insc{
  background-color: #149ad1;
  border: none;
  color: #fff;
  padding: 1.1em 2.5em;
  border-radius: 100px;
  margin: 1.2em auto;
  cursor: pointer;
  box-shadow: 2px 3px 10px rgba(0,0,0,.25),
  inset -2px -3px 10px rgba(0,0,0,.35),
  inset 2px 3px 10px rgba(255,255,255,.5);
  letter-spacing: 1.25px;
}

.sex {
    margin-bottom:150px;
    margin-top:30px;
  height: 60vh;
  width: 100%;
  background-color: #149ad1;
  position: relative;
  animation: left .75s ease-out;
}

.sex::after {
  background-color: #149ad1;
  width: 100%;
  height: 135px;
  position: absolute;
  content: " ";
  bottom: -75px;
  transform: skewY(3.5deg);
}

.card {
  background-color: #fff;
  width: 400px;
  height: 450px;
  position: absolute;
  right: 25%;
  top: 19%;
  z-index: 100;
  border-radius: 40px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25),
    inset -5px -5px 20px rgba(0,0,0,.25),
    inset 5px 5px 20px rgba(255,255,255,.25);
  animation: right .75s ease-in;
}

.content {
  display : flex;
  flex-direction: column;
  padding: 2em;
  align-items: flex-center;
  height: 100%;
  justify-items: space-between;
}

.user, .pass {
  position: relative;
  
}

.content i {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: #149ad1;
  font-size: 1.125rem;
}

input[type="text"], input[type="password"] {
  font-size: 1.125rem;
  margin: .75em 0;
  width: 100%;
  border-radius: 100px;
  border: none;
  padding: .8em 1.5em .8em 2.75em;
  color: #149ad1;
  box-shadow: 1px 3px 10px #00000020,
    inset -1px -3px 10px #00000020,
    inset 1px 3px 10px #ffffff20;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder{
  color: #0e4c6690;
  font-size: 1rem;
  margin-left: 1em;
}

input[type="text"]:focus, input[type="password"]:focus {
  outline: none;
}

h2 {
  margin: 1.5em;
  font-size: 2rem;
  text-align: center;
}

.else {
  display: flex;
  align-items: center;
  width: 85%;
  margin: .5em auto;
}

.else span {
  margin-left: auto;
}

.else span,
.else label {
  font-size: .75rem;
  text-align: right;
  opacity: .65;
  cursor: pointer;
  transition: 250ms;
}

.else label {
  margin-left: .5em;
}

span:hover,
label:hover{
  opacity: 100%;
  text-decoration: underline;
}

span:active,
label:active{
  transform: scale(.99);
}

input[type="submit"] {
  background-color: #149ad1;
  border: none;
  color: #fff;
  padding: 1.1em 2.5em;
  border-radius: 100px;
  margin: 1.2em auto;
  cursor: pointer;
  box-shadow: 2px 3px 10px rgba(0,0,0,.25),
  inset -2px -3px 10px rgba(0,0,0,.35),
  inset 2px 3px 10px rgba(255,255,255,.5);
  letter-spacing: 1.25px;
}

input[type="submit"]:hover {
  background: #34a1ce;
}

input[type="submit"]:active {
    box-shadow: 2px 3px 10px rgba(0,0,0,.25),
  inset -2px -3px 10px rgba(255,255,255,.35),
  inset 2px 3px 10px rgba(0,0,0,.25);
}

input[type="submit"]:focus {
  outline: none;
}


section::before {
  background-color: #fff;
  width: 100%;
  height: 250px;
  position: absolute;
  content: " ";
  top: -100px;
  transform: skewY(-3.5deg);
}



@keyframes right{
  0% {
    transform: translateX(700%)
  }
  100% {
    transform: translateX(0)
  }
}

@keyframes left{
  0% {
    transform: translateX(-100%)
  }
  100% {
    transform: translateX(0)
  }
}
  </style>
{% endblock %}
