{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<br>
<br>
  

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Monoton&family=Yeon+Sung&display=swap" rel="stylesheet">

  <div id="about">
    <div data-aos="zoom-in" id="img-div">
    <img src="/imgmusiques/{{ musiquedemariage.image}}" id="me-img" alt="John Doe">
    </div>
    <div id="desc-self">
      <h2>{{ musiquedemariage.nom}}</h2>
     
    </div>
    <br>
    <div id="card-parent">
      
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000" class="card-r" id="">
       <h2 style="font-family: 'Yeon Sung', cursive;">
         <span class="filled-text">M</span>
         <span class="filled-text">A</span>
         <span class="filled-text">R</span>
         <span class="filled-text">I</span>
         <span class="filled-text">A</span>
         <span class="filled-text">G</span>
         <span class="filled-text">E</span>
         
         </h2>
        <h2>
         {{ musiquedemariage.emplacement}}</h2>
        <p> {{ musiquedemariage.description}}</p>
      </div>
      
      <div data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000" class="card-r" id="">
        <h2 style="font-family: 'Yeon Sung', cursive;">{{ musiquedemariage.nom}}</h2>
          <p> {{ musiquedemariage.description}}</p>
          <a href="{{ path('contact')}}"><button type="submit" class="btn btn-success " style="border-radius: 30%;">contactez-nous!!</button></a>
          <a href="{{ path('musique_de_mariage')}}"<button type="submit" class="btn btn-success " style="border-radius: 30%;">Back</button></a>
      </div>
     
    </div>
      
      
    </div>
  </div>
  



<h2 class="text-capitalize" >Commentaires <span >{{musiquedemariage.getCommentaire.count}}</span></h2>
                
                {% if is_granted('ROLE_USER') %}
                <form action="{{path('comment_add1')}}" method="post">
                <div>
                        <div class="form-group">
                            <textarea type="text" placeholder="Ajouter votre commentaire" rows="5" cols="20" name="_comment" id="comment" required class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" id="login" name="login">
                                Valider
                            </button>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{csrf_token('authenticate')}}">
                        <input type="hidden" name="post_id" value="{{musiquedemariage.id}}">
                    </div>
                </form>
                <hr>
                {% else %}
                    <a href="{{path('app_login')}}" class="btn btn-link">Connectez vous pour commenter</a>
                {% endif %}
                <!-- show comments -->
                {% for commentaire in musiquedemariage.getCommentaire %}
                <div class="media mt-3">
                    <div class="media-body">
                        <span class="comment-username">{{commentaire.user.nom}} {{commentaire.createdAt|date("F jS \\a\\t g:ia")}}</span>
                        <p class="comment mt-2">{{commentaire.text}}</p>
                    </div>
                    <hr>
                </div>
                </div>

                {% endfor %}
            </div>
           
                
        </div>
<style>
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h2{
    color: #9b59b6;
}
.comment-username{
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
}
.comment{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
    
}

a {
  text-decoration: none;
  color: #5C7FB8
}

a:hover {
  text-decoration: underline;
}

.movie-card {
  font: 14px/22px "Lato", Arial, sans-serif;
  color: #A9A8A3;
  padding: 40px 0;
}



.hero {
  height: 342px;  
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
    
}

.cover {
  width:30%; height:50%;
 
  position: absolute;
  top: 300px;
  left: 40px;
  z-index: 4;
}

.details {
  
  padding: 190px 0 0 280px;
}
  
  
  
  
  
  .likes {
    margin-left: 24px;
  }
  
  
  .likes:before {
    position: relative;
    top: 2px;
    padding-right: 7px;
  }



.description {
  
  bottom: 0px;
  height: 200px;
  font-size: 16px;
  line-height: 26px;
  color: #B1B0AC;
  
}

.column1 {
  padding-left: 50px;
  padding-top: 120px;
  width: 220px;
  float: left;
  text-align: center;
}

.tag {
  background: white;
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag:hover {
  background: #ddd;
}

.column2 {
  padding-left: 41px;
  padding-top: 30px;
  margin-left: 20px;
  width: 480px;
  float: left;
}

main{
  max-width: 800px;
  margin: 0 auto;
  border: 0px solid red;
  display: block;
}
#about{
  padding: 10px;
  text-align: center;
  margin-top: 40px;
}

#me-img{
  width: 200px;
  border-radius: 50%;
  height: 200px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  animation-name: img-beat;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#img-div:hover{
  transform: scale(0.94);
}
#desc-self h2{
  color: #00adb5;
}
#desc-self{
  color: #fff;
}
.card-r{
  background: #393e46;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  display: block;
}
.card-r h2{
  color: #00adb5;
}
.card-r p{
  color: #fff;
}
#card-parent{
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
}
#card-parent>div{
  width: 50vw;
  margin-left: 10px;
}
.type-effect{
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end); 
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}
@keyframes type{ 
  from { width: 0; } 
}

.filled-text{
  background: #00adb5;
  border-radius: 4px;
  color: #393e46;
  padding: 4px 6px 4px 6px;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #393e46;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00adb5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00adb5
}
@media only screen and (max-width: 600px) {
  #card-parent{
    flex-direction: column;
    display: block;
    margin-bottom: 5px;
  }
  #card-parent>div{
    width: 90%;
    margin-left: -10px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
  }

}
#parent-loader{
  height: 100vh !important;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#loader { 
  margin: 0 auto;
  margin-top: 30vh;
  border: 5px solid #00adb5; 
  border-radius: 50%; 
  border-top: 5px solid #444444; 
  width: 30px; 
  height: 30px; 
  animation: spin 1s linear infinite; 
} 
@keyframes img-beat {
  25% {
    transform: scale(0.94);
  }
  50% {
    transform: scale(1);
  }
  75%{
    transform: scale(0.94);
  }
}












</style>

{% endblock %}