{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
         

{% block body %}

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, ">
        <img class="card" src="{{asset('imgcomment/téléchargement.jpeg')}}" alt="" style="margin-top:100px;">
        
        
        <br>
    <div>
    
    <h6>Les meilleurs centres de beauté pour les mariées</h6>
    <p style="text-align: center;">La saison des mariages et le choix du salon de coiffure est le plus difficile pour les nouvelles mariées.
    <br> Alors si vous n’avez pas encore choisi votre <span style=" color:hotpink;;
             text-decoration: none;
             font-size: 25px;"><a href="{{path('centre_de_beaute')}}"> centre de beauté </a></span> pour le grand jour .</p>
    </div>
        <div class="slide" >
       
            <!-- First slide -->
            <div class="banner1">
              <img class="image"
                src="https://www.marhba.com/images/mariage/mariagejean.jpg"
              />
             
            </div>
        
            <!-- Second slide -->
            <div class="banner2">
              <img class="image"
                src="{{asset('imgcomment/mariageviolette.jpg')}}"
              />
              
            </div>
        
            <!-- Third slide -->
            <div class="banner3">
              <img class="image"
                src="{{asset('imgcomment/mariagelobna.jpg')}}"
              />
             
            </div>
        
            <!-- Fourth slide -->
            <div class="banner4">
              <img class="image"
                src="{{asset('imgcomment/mariageferyelstudio.jpg')}}"
              />
              
            </div>
          
        </div>   
</div>


<div style="margin-top:700px;">
    
    <h6>Les troupes musicales pour votre mariage</h6>
    <p style="text-align: center;">
    On vous facilite la tâche et on partage avec vous<span style=" color:hotpink;;
             text-decoration: none;
             font-size: 25px;"><a href="{{path('musique_de_mariage')}}" > des troupes musicales </a></span>bien réputées en Tunisie
     <br> pour une ambiance de mariage exceptionnelle le Jour J.
</p>
    </div>

 <!-- 3D Slideshow Section --> 
<div id="slideshow" style="margin-top:30px;">
			<div class="entire-content">
			<a href="{{path('musique_de_mariage')}}">	<div class="content-carrousel">
					<figure class="shadow"><img src="{{asset('imgmusiques/9b3088f1fd3d8e42f4b6874d7c31dd1f529765cb.jpeg')}}"/></figure>
					<figure class="shadow"><img src="{{asset('imgmusiques/22b2556fd677d8baee846be04be0182946665793.jpeg')}}"/></figure>
					<figure class="shadow"><img src="{{asset('imgmusiques/684acc6861ae42af9df31c32b5b6d49c87ad0d2b.jpeg')}}"/></figure>
					<figure class="shadow"><img src="{{asset('imgmusiques/171344a9fb14d6e40e20f0843748291b51a0d16c.jpeg')}}"/></figure>
					<figure class="shadow"><img src="{{asset('imgmusiques/ad9fcbd1578c037a34ac2e25800024ef291999d6.jpeg')}}"/></figure>
					<figure class="shadow"><img src="{{asset('imgmusiques/bd6f0bf08df7ed11d624cf457d54c22e5b0a558c.jpeg')}}"/></figure>
					<figure class="shadow"><img src="{{asset('imgmusiques/bd6f0bf08df7ed11d624cf457d54c22e5b0a558c.jpeg')}}"/></figure>
					<figure class="shadow"><img src="{{asset('imgmusiques/bd6f0bf08df7ed11d624cf457d54c22e5b0a558c.jpeg')}}"/></figure>
					<figure class="shadow"><img src="{{asset('imgmusiques/bd6f0bf08df7ed11d624cf457d54c22e5b0a558c.jpeg')}}"/></figure>
		</div></a>
	</div>
</div>
<div>
    <div style=" margin: 100px;
 text-align: center;">
 <a class="btn-blink1" href="">les Nouveautés!</a>
</div>
    <h6> Forfait de Mariage</h6>
    <p style="text-align: center;">
    Si vous voulez faire de votre mariage inoubliable en ayant un look idéal,
    <br> notre centre est là pour répondre à tous vos besoins.
     
</p>
    </div>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap" rel="stylesheet">
 
  
  
  <div class="wrapi">
  {% for item in publicite %}
  <a href="#" class="ng" title=""><div> <img src="/imgpublicite/{{ item.image }}"></div><span><h3>{{ item.nom}}</h3>{{ item.prix }} dt</span></a>
  {% endfor %}
  </div>



  <div class="btn-blink1" style=" margin-top: 50px;
  text-align: center;margin-left: 400px;">au lieu de <span style="font: size 0.15em;
    color: #e21941;
    text-decoration: line-through;text-align: center;">5300 dt</span> 5000 dt </div>

  
    


<div class="wrapi" style="
  width: 1200px;
  ">
  {% for item in publicite1 %}
  <a href="#" class="ng" title=""><div> <img src="/imgpublicite1/{{ item.image }}"></div><span><h3>{{ item.nom}}</h3>{{ item.prix }} dt</span></a>
  {% endfor %}
  </div>
       
<div class="btn-blink1" style="
text-align: center;margin-left: 400px;">au lieu de <span style="font: size 0.15em;
  color: #e21941;text-decoration: line-through;
  text-align: center;">4200 dt</span> 3900 dt </div> 
  
   <div class="wrapi" style="
  width: 1200px;
  ">
  {% for item in publicite3 %}
  <a href="#" class="ng" title=""><div> <img src="/imgpublicite3/{{ item.image }}"></div><span><h3>{{ item.nom}}</h3>{{ item.prix }} dt</span></a>
  {% endfor %}
  </div>
       
<div class="btn-blink1" style=" 
text-align: center;margin-left: 400px;">au lieu de <span style="font: size 0.15em;
  color: #e21941;text-decoration: line-through;
  text-align: center;">3900 dt</span> 3500 dt </div> 
  
                   
 

            

<style>

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);




.wrapi {
  
}

.ng {
  position: relative;
  float: left;
  width: 350px;
  height: 210px;
  overflow: visible;
  margin: 20px;
  display: block;
  background-color: #000;
  text-decoration: none;
}

.ng div {
  position: relative;
  z-index: 1;
  width: 358px;
  height: 218px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  overflow: hidden;
  
  -webkit-box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px 2px rgba(0,0,0,0.2);
  
  -webkit-transform: translate(-4px,-4px);
  -moz-transform:    translate(-4px,-4px);
  -ms-transform:     translate(-4px,-4px);
  -o-transform:      translate(-4px,-4px);
  transform:         translate(-4px,-4px);
  
  -webkit-transition: width .2s, height .2s, -webkit-transform .2s, -webkit-box-shadow .2s;
  -moz-transition:  width .2s, height .2s, -moz-transform .2s, box-shadow .2s;
  transition:  width .2s, height .2s, transform .2s, box-shadow .2s;
}
.ng div:before {
  content: "";
  display: block;
  width: 600px;
  height: 400px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 1;
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.85) 20%, rgba(0,0,0,0) 60%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.9)), color-stop(20%,rgba(0,0,0,0.85)), color-stop(60%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.85) 20%,rgba(0,0,0,0) 60%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.85) 20%,rgba(0,0,0,0) 60%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.85) 20%,rgba(0,0,0,0) 60%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.85) 20%,rgba(0,0,0,0) 60%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.ng:hover div:before {
  opacity: 0.7;
}

.ng:hover div {
  width: 366px;
  height: 226px;
  
  -webkit-box-shadow: 0 0 3px 4px rgba(0,0,0,0.2);
  box-shadow: 0 0 3px 4px rgba(0,0,0,0.2);
  
  -webkit-transform: translate(-8px,-8px);
  -moz-transform:    translate(-8px,-8px);
  -ms-transform:     translate(-8px,-8px);
  -o-transform:      translate(-8px,-8px);
  transform:         translate(-8px,-8px);
}

.ng:active div {
  width: 358px;
  height: 218px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translate(-4px,-4px);
  -moz-transform:    translate(-4px,-4px);
  -ms-transform:     translate(-4px,-4px);
  -o-transform:      translate(-4px,-4px);
  transform:         translate(-4px,-4px);
}

.ng span {
  position: absolute;
  display: block;
  overflow:hidden;
  z-index: 20;
  padding: 15px 20px;
  bottom: 0px;
  left: 0;
}

.ng span h3 {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.ng:hover span h3 {
  
}
.ng span p {
  font-size: 14px;
  color: rgba(255,255,255,0.7);
  margin: 0;
  opacity: 0;
  max-height: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.ng:hover span p {
  opacity: 1;
  max-height: 200px;
}

 h3{
   color:hotpink;
 }


.btn-blink1 {
 position: relative;
 display: inline-block;
 padding: 15px 25px;
 border-radius: 5px;
 font-family: sans-serif;
 font-size: 1.2em;
 line-height: 1;
 font-weight: 700;
 letter-spacing: 1px;
 text-transform: uppercase;
 text-decoration: none;
 color:palevioletred;
 animation: anim-btn1 1s ease-in-out infinite alternate;
 
}

@keyframes anim-btn1 {
 from {
  transform: scale(1);
  background-color:pink;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
  box-shadow: 0 0 0 transparent, 0 0 5px rgba(0, 0, 0, .25) inset;
 }
 to {
  transform: scale(1.1);
  background-color:plum;
  text-shadow: 0 2px 6px rgba(0, 0, 0, .35);
  box-shadow: 0 0 12px purple, 0 0 10px rgba(0, 0, 0, .5) inset;
 }
}
.pub{
   width:100%;
  height:auto;
}

.polar{
  background:white;
  padding:1rem;
  box-shadow: 0 0.5rem 1rem gray;
  
}

.caption{
 font-size:1rem;
  text-align:center;
  line-height:1.5em;
}
.contents{
  width:30%;
  display:inline-block;
  margin-top:2rem;
  filter:grayscale(100%);
  
}
.contents .polar:before{
  
  position:absolute;
  z-index=-1;
  transtion:all 0.30s;
  
}

div.one{ transform: rotate(10deg);}
div.two{
   transform: rotate(-10deg);
}
div.three{
   transform: rotate(10deg);
}
.contents:hover{
  filter:grayscale(0%);
   transform: rotate(0);
  -ms-transform: scale(1.2); 
  -webkit-transform: scale(1.2);
  transform: scale(1.2); 

}





/* 3D Slideshow */ 
#slideshow {
	margin: 0 auto;
	padding-top: 50px;
	height: 400px;
	width: 100%;
	
	box-sizing: border-box;
}

.slideshow-title {
	font-family: 'Allerta Stencil';
	font-size: 62px;
	color: #fff;
	margin: 0 auto;
	text-align: center;
	margin-top: 25%;
	letter-spacing: 3px;
	font-weight: 300;
}

.sub-heading {
	padding-top: 50px;
	font-size: 18px;
} .sub-heading-two {
	font-size: 15px;
} .sub-heading-three {
	font-size: 13px;
} .sub-heading-four {
	font-size: 11px;
} .sub-heading-five {
	font-size: 9px;
} .sub-heading-six {
	font-size: 7px;
} .sub-heading-seven {
	font-size: 5px;
} .sub-heading-eight {
	font-size: 3px;
} .sub-heading-nine {
	font-size: 1px;
}

.entire-content {
	margin: auto;
	width: 190px;
	perspective: 1000px;
	position: relative;
	padding-top: 80px;
}

.content-carrousel {
	width: 100%;
	position: absolute;
	float: right;
	animation: rotar 15s infinite linear;
	transform-style: preserve-3d;
}

.content-carrousel:hover {
	animation-play-state: paused;
	cursor: pointer;
}

.content-carrousel figure {
	width: 100%;
	height: 120px;
	border: 1px solid #3b444b;
	overflow: hidden;
	position: absolute;
}

.content-carrousel figure:nth-child(1) {
	transform: rotateY(0deg) translateZ(300px); 
} .content-carrousel figure:nth-child(2) {
	transform: rotateY(40deg) translateZ(300px); 
} .content-carrousel figure:nth-child(3) {
	transform: rotateY(80deg) translateZ(300px); 
} .content-carrousel figure:nth-child(4) {
	transform: rotateY(120deg) translateZ(300px); 
} .content-carrousel figure:nth-child(5) {
	transform: rotateY(160deg) translateZ(300px); 
} .content-carrousel figure:nth-child(6) {
	transform: rotateY(200deg) translateZ(300px); 
} .content-carrousel figure:nth-child(7) {
	transform: rotateY(240deg) translateZ(300px); 
} .content-carrousel figure:nth-child(8) {
	transform: rotateY(280deg) translateZ(300px); 
} .content-carrousel figure:nth-child(9) {
	transform: rotateY(320deg) translateZ(300px); 
} .content-carrousel figure:nth-child(10) {
	transform: rotateY(360deg) translateZ(300px); 
} 

.shadow {
    position: absolute;
    box-shadow: 0px 0px 20px 0px #000;
    border-radius: 1px;
}

.content-carrousel img {
	image-rendering: auto;
	transition: all 300ms;
	width: 100%;
	height: 100%;
}

.content-carrousel img:hover {
	transform: scale(1.2);
	transition: all 300ms;
}

@keyframes rotar {
	from {
		transform: rotateY(0deg);
	} to {
		transform: rotateY(360deg);
	}
}
  
















.banner1,
.banner2,
.banner3,
.banner4 {
  
  width: 100%;
  position: absolute;
margin-top:70px;

}
.image {
  width: 100%;
  position: absolute;
  
  
  animation: zoom-out 6s linear infinite;
  border-radius:80px;
  height:500px
}

@keyframes zoom-out {
  100% {
    width: 100%;
  }
}







.banner1 {
  animation: slide1 12s linear infinite;
}

.banner2 {
  animation: slide2 12s linear infinite;
}

.banner3 {
  animation: slide3 12s linear infinite;
}

.banner4 {
  animation: slide4 12s linear infinite;
}

@keyframes slide1 {
  0% {
    visibility: visible;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes slide2 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide3 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes slide4 {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes textup {
  10% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

.text-box1 {
  animation-delay: 0s;
}

.text-box2 {
  animation-delay: 3s;
}

.text-box3 {
  animation-delay: 6s;
}

.text-box4 {
  animation-delay: 9s;
}

/*css card*/

.card {
  max-width : 100%;
  height: 400px;
  display: block;
    position: relative;
    
    align-items: center;
    justify-content: center;
    width: 1300px;
    
    background: #000;
    border-radius: 30px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
    backface-visibility: hidden;
}
.card:hover {
    transform: scale(0.9);
}
.card:hover .ul {
    transform: translate(0);
    opacity: 1;
}

.card img {
    position: absolute;
    width: 100%;
    z-index: 10;
    transition: all 0.5s ease;
}
.card .con-text {
  line-height: 1.3 em;
  max-width : 100%;
    position: absolute;
    z-index: 30;
    bottom: 0;
    color: #fff;
    
    
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
}


.ul {
    position: absolute;
.card:hover {
    transform: scale(0.9);
}
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 40;
    border-radius: 14px;
    padding-left: 0;
    padding-bottom: 8px;
    padding-top: 8px;
    top: 0;
    opacity: 0;
    transform: translate(100%);
    transition: all 0.5s ease;
}
.ul li {
    background: #fff;
    list-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition: all 0.5s ease;
    backface-visibility: hidden;
}
.ul li:last-child {
    border-radius: 0 0 12px 12px;
}
.ul li:first-child {
    border-radius: 12px 12px 0 0;
}
.ul li:hover {
    opacity: 1;
    transform: translate(-7px, -4px);
    border-radius: 6px;
}
.ul li img {
    position: absolute;
    width: 100%;
}


  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h6 {
  font-family:  ;
  font-size: 2em;
  text-align: center;
  color:hotpink;
  
  text-shadow: 0px 0px 15px #fff;
  -webkit-text-shadow: 0px 0px 15px #fff;
  -moz-text-shadow: 0px 0px 15px #fff;
  -ms-text-shadow: 0px 0px 15px #fff;
  -o-text-shadow: 0px 0px 15px #fff;
}

    </style>
    
     <script src="{{ asset('popper/popper.min.js')}}"></script> 
      <script src="{{ asset('jquery/jquery.slim.min.js')}}"></script>
{% endblock %}
