{% extends 'base.html.twig' %}

{% block title %}Hello SalleDeMariageController!{% endblock %}
 
{% block body %}
 
<div style="margin-top:100px;"> 

<h3>Votre robe de mariée</h3>
<p style="text-align: center;" >Préparez-vous pour le plus beau moment de votre vie en trouvant la robe de mariée parfaite,
<br> celle qui vous correspond le mieux parmi nos différentes collections de robes !
<br> Lors de la cérémonie du mariage, la mariée est au centre de l’attention : la tenue de la mariée sublime ses formes tout en étant la plus élégante possible ! Trouvez votre style : de la robe de mariée simple à la robe de mariée princesse, sans oublier la fameuse robe de mariée dentelle.
<br></p></div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>




<section style="margin-bottom:1200px;">
 {% for item in centredebeaute %}
          <div class="pic">
			<div class="mask"> 
				<h3 class="title">{{ item.nom}}</h3>
			<br>
				<a href="{{path('home_detail_centre',{'id':item.id})}}" class="readMore">READ MORE</a>
			</div>
			<img src="/imgcentre/{{ item.image }}" class="picture1" >
		</div>
		{% endfor %}
    </section> 
    
    
    <section>
<div>
  <h3>Votre robe de mariée par style</h3>
  <p style="text-align: center;" >Découvrez les modèles tendances en 2022 selon le style de robe de mariée qui vous séduit le plus 
    <br>: romantique, chic, bohème, original, simple, champêtre, vintage… il y en a pour tous les goûts ! </p>
    <br>
</div>
</section>

<div class="robe">
  
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="image-block">
                <a href="#"><img src="{{asset('imgcomment/cover-robes-romantiques-2020-victoire-vermeulen.jpg')}}" /></a>
              </div>
             
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="image-block">
                <a href="#"><img src="{{asset('imgcomment/ELISE_MARTIMORT_Robe_de_mariee_sur_mesure_paris_bordeaux_Collection_Empowerment-Robe-SIMONE-2-BD.jpeg')}}" /></a>
              </div>
             
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="image-block">
                <a href="#"><img src="{{asset('imgcomment/robe-petrus-civile-dentelle-laure-de-sagazan-.jpg')}}" /></a>
              </div>
             
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="image-block">
                <a href="#"><img src="{{asset('imgcomment/cover-original-CALIFA-valerio-luna.jpg')}}" /></a>
              </div>
             
          </div>
      </div>
      <div>
        <h3>Votre robe de mariée par coupe, matière et longueur</h3>
        <p style="text-align: center;" >
          Bustier, sirène, empire, princesse, fluide, dos-nu, manches longues,
          <br> dentelle, asymétrique… sur quelle coupe et/ou tissu allez-vous
          <br> craquer pour votre mariage en 2022 ? Faites votre choix grâce à nos pages spécifiques ! 
        </p>
      </div>
      <div class="robe">
        
          <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="image-block">
                      <a href="#"><img src="{{asset('imgcomment/nicole-spose-NCA20031-NicoleCouture-moda-sposa-2020-710.jpg')}}" /></a>
                    </div>
                   
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="image-block">
                      <a href="#"><img src="{{asset('imgcomment/top-singuliere-jupe-couleur-de-lune-elsa-gary-2022-robe-de-mariee-elegante-6.jpeg')}}" /></a>
                    </div>
                   
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="image-block">
                      <a href="#"><img src="{{asset('imgcomment/alleyn_d.jpeg')}}" /></a>
                    </div>
                   
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <div class="image-block">
                      <a href="#"><img src="{{asset('imgcomment/2020_LINZ_LUNA_NOVIAS_1.jpg')}}" /></a>
                    </div>
                   
                </div>
            </div>
<!-------->
<style>
 

.pic {
	width: 320px;
	height: 260px;
	float: left;
	border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow:0 5px 10px #666;	
  margin-left: 50px;
  margin-top: 20px;
  color:white;
}

.picture1, .picture2, .picture3 {
  width: 100%;
  height: 100%;
  transition: 1s;
}



/*  picture1  */
.pic:hover .picture1{
  -webkit-transform: scale(10);
  transform: scale(10);
   transition: 1s;
   z-index: -1;
}

.mask {
  width: 100%;   
  height: 100%;
  position: absolute;
  opacity: 0;
  background-color: #2F4F4F;
  transition: 2s;
  z-index: 2;
}

.pic:hover .mask{
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

}

.title {
  width: 100%;
  text-align: center;
	height: 50px;
	margin-top: 20px;
  display: block;
  line-height: 50px;
  font-size: 32px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  opacity: 0;
  transform: scale(0);
}

.readMore {
	height: 40px;
	width: auto;
  margin-top: 70px;
  background:lightslategray ;
  color: white;
  line-height: 40px;
  font-size: 18px;
  opacity: 0;
  position: absolute;
  text-align: center;
  left: 30%;
  right: 30%;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  transform: scale(0);
}

.readMore:hover {
  background: cornsilk;
  color: black;
}

.text {
  width: 80%;
  border-top: 1px solid white;
  padding-top: 10px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  font-style: italic;
  opacity: 0;
  transform: scale(0);
  transition: 0.7s;
}

.pic:hover .title,
.pic:hover .text,
.pic:hover .readMore {
  transform: scale(1);
  opacity: 1;
}



.image-block{transition:all .3s linear;
  -webkit-transition:all .3s linear;
  -moz-transition:all .3s linear
}
.image-block:hover{transform:translateY(5px) scale(1.2);
  box-shadow:0px 0px 40px rgba(0,0,0,.2);
  position:relative;z-index:9
}
.image-block img{width:100%;
  border:solid 5px #fff;
}
.btn-blink1 {
 position: relative;
 display: inline-block;
 padding: 15px 25px;
 border-radius: 5px;
 font-family: sans-serif;
 font-size: 1.2em;
 line-height: 1;
 font-weight: 700;
 letter-spacing: 1px;
 text-transform: uppercase;
 text-decoration: none;
 color:palevioletred;
 animation: anim-btn1 1s ease-in-out infinite alternate;
}

@keyframes anim-btn1 {
 from {
  transform: scale(1);
  background-color:pink;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
  box-shadow: 0 0 0 transparent, 0 0 5px rgba(0, 0, 0, .25) inset;
 }
 to {
  transform: scale(1.1);
  background-color:plum;
  text-shadow: 0 2px 6px rgba(0, 0, 0, .35);
  box-shadow: 0 0 12px purple, 0 0 10px rgba(0, 0, 0, .5) inset;
 }
}
h3{
   color:hotpink;
   text-align: center;
 }   
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.centre {
  position: relative;
  flex-grow: 1;
  margin: auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  align-items: center;
}
.img3 {
  z-index: 1;
  grid-column: span 2;
  
  margin-bottom: -120%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
     clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all 0.15s;
}
.img3:nth-child(7n+1) {
  grid-column: 2/span 2;
}
.img3:hover {
   z-index: 2;
  transform: scale(2);
}


</style>   
{% endblock %}
