{% extends 'base.html.twig' %}
{% form_theme reservationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
<br>
<br>
<div class="container" style="margin-top:50px;">
<section class="form">

<div class="row">



        <div class="col"> </div>
          <div class="col-6" >

          {{form_start(reservationForm)}}
         
<div class="mb-3">
          
            {{form_row(reservationForm.nom,{'attr':{'class':'form-control'}})}}
        </div>
<div class="mb-3">
          
            {{form_row(reservationForm.email,{'attr':{'class':'form-control'}})}}
        </div>
<div class="mb-3">
          
            {{form_row(reservationForm.date,{'attr':{'class':'form-control'}})}}
        </div>
        <div class="mb-3">
          
            {{form_row(reservationForm.time,{'attr':{'class':'form-control'}})}}
        </div>
        <div class="mb-3">
            
            {{form_row(reservationForm.salle_de_mariage,{'attr':{'class':'form-control'}})}}
        </div>



        



         <div class="mb-3">
          
            {{form_row(reservationForm.budget,{'attr':{'class':'form-control'}})}}
        </div>
        {{form_end(reservationForm)}}

          </div>
          <div class="col"></div>
        </div>

    </div>
</section>
{% endblock %}
