


{% form_theme form 'bootstrap_4_layout.html.twig' %}
<style>
.form{
    
    display:flex;
    width:100%;
    height:500px;
    align-items:left;
    justify-content:left;
    border-radius:0px 0px 15px 15px;
    padding:15px;
    
    background-image:url("https://images.pexels.com/photos/949223/pexels-photo-949223.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position:center;
}
    .btn{
        width: 100px;
        background-color: lightcoral;
        margin-left:150px;
    
}
h4{
    color: lightcoral;
}


</style>


<div  class="form"> 
 
 {{ form_start(form, {attr: {class: 'filtre js-filtre-form'}}) }}

 {{ form_row(form.q) }}

  
 
      {{ form_row(form.min) }}<br>
   
      {{ form_row(form.max) }}




  <button type="submit" class="btn">Rechercher</button>

{{ form_end(form) }}
</div>