{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
  <br>
    <br>

    <section class="form">
        <div class="container">

            {% if notification %}
                <div class="alert alert-success">
                    {{ notification }}
                </div>
            {% endif %}

            <div class="row">
                <div class="col"></div>
                <div class="col-6">
                    {{ form_start(form) }}

                    <div class="mb-3">
                    {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_row(form.nom , {'attr' : {'class' : 'form-control'}}) }}
                    </div>

                    {{ form_label(form.prenom, 'Prenom', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_row(form.prenom  , {'attr' : {'class' : 'form-control'}}) }}

                    {{ form_label(form.email , 'Email', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_row(form.email , {'attr' : {'class' : 'form-control'}}) }}
                    {{ form_label(form.date_de_naissance , 'Date_de_naissance', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_row(form.date_de_naissance  , {'attr' : {'class' : 'form-control'}}) }}

                    {{ form_row(form.password) }}

                    {{ form_end(form) }}
                </div>
                <div class="col"></div>
            </div>
        </div>
    </section>


    <style>
    *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



form{
width: 500px;
box-shadow: 1px -4px  21px 20px #d4d4d4;
  border-radius: 8px;
  padding: 50px;
  background: linear-gradient(to top, black,orange,orangered);
  
}

label{
  position: relative;
  display: block;
  margin-bottom: 25px;
}

input{
  width: 100%;
  height: 50px;
  border-radius: 16px;
  padding: 0 20px;
  border-radius: 16px;
  border: 0;
  background-color: #e8eaf6;
  transition: 0.9s;
  outline: none;
}

input:hover{
  background-color: white;
  color: black;
  
}
strong{
  margin: 5px;
  display: block;
}

.btn{
  display: inline-block;
  width: 180px;
  height: 50px;
  line-height: 50px;
 	background: linear-gradient(to left, #e91e63, #ffeb3b);
  ouline: none;
  border: none;
 color: white;
  font-size: 16px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.2) ;
  transition: 0.9s linear;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 500;
  text-transform: uppercase;
}

.btn:hover{
  box-shadow: 0 20px 30px;
  letter-spacing: 1px;
  outline: none;
}
</style>
{% endblock %}
