{% extends 'base.html.twig' %}

{% block title %}Hello MusiqueDeMariageController!{% endblock %}

{% block body %}
<div class="card-wrap "  style="margin-top:100px;">
{% include 'musique_de_mariage/_filtre.html.twig' with{form:form} only %}
</div>

<div style="margin-top:100px;">
    
    <h3>Animation mariage</h3>
    <p style="text-align: center;">
    Vous cherchez une animation originale pour votre mariage ? Nous vous aidons ici à trouver les meilleures
    <br> propositions d’animations de mariage chic, de mariage champêtre. N’hésitez pas à voir les choses en grand
    <br> en choisissant une animation de mariage musicale sur le thème de votre choix. Parce que l’amour n’a pas d’âge,
    <br> optez aussi pour des jeux de mariage originaux pour amuser les petits comme les grands !


    </p>
    </div>
<div>
  <ul class="cards">
  {% for item in musiquedemariage %}
     <li>
      <a href="{{path('home_detail_musique',{'id':item.id})}}" class="card">
            <img src="/imgmusiques/{{ item.image }}" class="card_image" alt="" />
        <div class="card_overlay">
          <div class="card-header">
            <svg class="card-arc" xmlns="http://www.w3.org/2000/svg">
              <path/>
            </svg>
            <img src="/imgmusiques/{{ item.image }}" class="card-thumb" />
            <div class="card-header-text">
              <h3 class="card-title"> {{ item.nom}}</h3>              
            </div>
          </div>
          <p class="card-description"> 
            {{ item.description }}
          </p>
        </div>
      </a>
    </li>   
     {% endfor %}
  </ul>
  
</div>


  <section  style="margin-bottom:80px;">
  
  
  <h3>Comment choisir la musique de votre mariage ?</h3>
<p style="margin-left: 10px;">Le moment de choisir la musique de votre mariage est arrivé. Il va falloir penser à un large
 répertoire de chansons issues de plusieurs styles musicaux pour votre cérémonie,
 <br>votre vin d’honneur, les différentes apparitions du couple, l’ouverture du bal de mariage, 
vos animations et la soirée endiablée prévue pour la clôture de la célébration.


Il ne suffit pas de<br> sélectionner de bons morceaux susceptibles de plaire au plus grand nombre,
 l’enchaînement des musiques, la qualité du son,<br> le matériel et les lumières sont autant 
 <br>d’éléments essentiels à un mariage joyeux dont l’ambiance ne retombe jamais.


Afin de ne vous préoccuper de rien le jour de l’événement et et de tout préparer en amont,
 <br>vous devrez faire appel à un ou plusieurs prestataires au savoir-faire avéré dont la
 mission sera d’émouvoir puis de faire danser vos invités, toute génération comprise. </p>
  

  
  <div class="scrolling-wrapper">
    <div class="card1"><img src="{{asset('imgcomment/5a129ae5520be3ac2410166ba4ea574e.jpg')}}" alt=""></div>
   
    <div class="card1" style="margin-left:10px;"><img src="{{asset('imgcomment/a839972967d98be619df1b956f0707d9.jpg')}}" alt=""></div>
   
    <div class="card1" style="margin-left:10px;"><img src="{{asset('imgcomment/79198e373b1556b60ed66f5cbbd30644.jpg')}}" alt=""></div>
    <div class="card1" style="margin-left:10px;"><img src="{{asset('imgcomment/ffeae0b1571c6b9526c6246c22632044.jpg')}}" alt=""></div>
    <div class="card1"style="margin-left:10px;"><img src="{{asset('imgcomment/4a30662481b6b4cf2eaac76d747e833b.jpg')}}" alt=""></div>
    <div class="card1"style="margin-left:10px;"><img src="{{asset('imgcomment/e99ba87dcf183209ce8d74b3d4110b8b.jpg')}}" alt=""></div>

    
  </div>
  
  
</section>
<style>
.card1 {
    display: inline-block;
    
  margin:  auto;
  width: 200px;
  height: 100px;
  border-radius: 40px;

  cursor: pointer;
  transition: 0.4s;
}
.card1:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}
  



 

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
:root {
  --curve: 40;
}



.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  gap:2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style: none;
}

.card {
  
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card-image{
  width:100%;
  
}

.card_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card_overlay {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.card-header{
  position: relative;
  display:flex;
  align-items: center;
  gap:2rem;
  border-radius: calc(var(--curve) * 1px) 0 0 0; 
  background-color:#cfc6c7;
  padding:2em;
  transform: translateY(-100%); 
  transition: 0.2s ease-in-out; 

}

.card-arc{
  width:5em;
  
  position:absolute;
  bottom:100%;
  right:0;
  z-index: 1;
}

.card-arc path{
  fill:var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card-header{
  transform: translateY(0);  
}

.card-thumb{
  flex-shrink: 0;
  width:3.125em;
  height:3.125em;
  border-radius: 50%;
}

.card-title{
  font-size: 1.3rem;
  margin:0 0 0.3em;
  color: #52b17a;
}

.card-description {
  padding-bottom: 10rem;
  margin:0;
  color: #bb4b1b;
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-align: center;
  background-color: #cfc6c7;
  font-weight: bold;
  font-size: 18px;
}
        
      
 h3{
   color:hotpink;
   text-align: center;
 }   


.btn-blink1 {
 position: relative;
 display: inline-block;
 padding: 15px 25px;
 border-radius: 5px;
 font-family: sans-serif;
 font-size: 1.2em;
 line-height: 1;
 font-weight: 700;
 letter-spacing: 1px;
 text-transform: uppercase;
 text-decoration: none;
 color:palevioletred;
 animation: anim-btn1 1s ease-in-out infinite alternate;
}

@keyframes anim-btn1 {
 from {
  transform: scale(1);
  background-color:pink;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15);
  box-shadow: 0 0 0 transparent, 0 0 5px rgba(0, 0, 0, .25) inset;
 }
 to {
  transform: scale(1.1);
  background-color:plum;
  text-shadow: 0 2px 6px rgba(0, 0, 0, .35);
  box-shadow: 0 0 12px purple, 0 0 10px rgba(0, 0, 0, .5) inset;
 }
}

</style>



{% endblock %}